{#
 # ---------------------
 #   Homepage template
 # ---------------------
 #}

{% extends "_skeleton/layout.twig" %}

{# -------------------------------------------------------  VARIABLES  ------------------------------------------------------------------- #}

{# header set to 'true' shows the header  #}
{% set headerOn = true %}

{# footer set to 'true' shows the footer on this page #}
{% set footerOn = true %}

{# scrolltotop set to 'true' shows the scroll-to-top button on the bottom of this page #}
{% set scrollToTop = false %}


{# /////////////////////////////////////////////////////   START PAGE   ////////////////////////////////////////////////////////////////// #}

{% block headLinks %}
<div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <img data-srcset="https://picsum.photos/640/700/?image=482 640w,
                      https://picsum.photos/960/700/?image=482 960w,
                      https://picsum.photos/1200/900/?image=482 1200w,
                      https://picsum.photos/2000/1000/?image=482 2000w"
         sizes="100vw"
         data-src="https://picsum.photos/1200/900/?image=482" alt="" data-uk-cover data-uk-img
    >
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative" data-uk-height-viewport="min-height: 400" style="background-color: rgba(0, 0, 0, 0.5);">

		<div class="uk-position-top">
			<div class="uk-container uk-container-small">
				<nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
					<div class="uk-navbar-left">
						<div class="uk-navbar-item">
							<a class="uk-logo" href=""><img src="app/img/cover-logo.svg" alt="Logo"></a>
						</div>
					</div>
					<div class="uk-navbar-right">
						<ul class="uk-navbar-nav">
							<li class="uk-active uk-visible@m"><a href="" data-uk-icon="home"></a></li>
							<li class="uk-visible@s"><a href="">Features</a></li>
							<li class="uk-visible@s"><a href="">Security</a></li>
							<li class="uk-visible@s"><a href="">Testimonials</a></li>
							<li><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	
		<div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
			<h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">Sleek, Fast and Reliable.</h1>
			<div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, reiciendis maxime, facilis nam natus incidunt provident.</p>
			</div>
			<div class="uk-margin-medium-top animate uk-invisible" data-uk-margin data-uk-scrollspy-class="uk-animation-fade uk-invisible">
				<a class="uk-button uk-button-default uk-button-large uk-width-2-3 uk-width-auto@s" data-uk-icon="arrow-right" title="Learn More">LEARN MORE</a>
				<a class="uk-button uk-button-primary uk-button-large uk-width-2-3 uk-width-auto@s" data-uk-icon="check" title="Learn More">TRY IT OUT</a>
			</div>
		</div>
	
		<div class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center">
			<a href="#content" data-uk-scroll="duration: 500" data-uk-icon="icon: arrow-down; ratio: 2"></a>
		</div>
	
	</div>
</div>
{% endblock headLinks %}

{% block content %}
		<section id="content" class="uk-section uk-section-default">
			<div class="uk-container">
				<div class="uk-section uk-section-small uk-padding-remove-top">
					<ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center" data-uk-switcher="connect: .uk-switcher; animation: uk-animation-fade">
						<li><a class="uk-border-pill" href="#">Discover</a></li>
						<li><a class="uk-border-pill" href="#">Benefits</a></li>
						<li><a class="uk-border-pill" href="#">Features</a></li>
					</ul>
				</div>

				<ul class="uk-switcher uk-margin">
					<li>
						<div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
							<div>
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="app/img/marketing-1.svg" alt="" data-uk-img>
							</div>
							<div data-uk-scrollspy-class="uk-animation-slide-right-medium">
								<h6 class="uk-text-primary">MAIN REASONS</h6>
								<h2 class="uk-margin-small-top">Take decisions with real time data based on users interaction.</h2>
								<p class="subtitle-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation.
								</p>
								<div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
									<div>
										<h4>Great stuff</h4>
										<p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
									</div>
									<div>
										<h4>Data analysis</h4>
										<p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
							<div>
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="app/img/marketing-8.svg" alt="" data-uk-img>
							</div>
							<div data-uk-scrollspy-class="uk-animation-slide-right-medium">
								<h6 class="uk-text-primary">MAIN REASONS</h6>
								<h2 class="uk-margin-small-top">Take decisions with real time data based on users interaction.</h2>
								<p class="subtitle-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation.
								</p>
								<div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
									<div>
										<h4>Great stuff</h4>
										<p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
									</div>
									<div>
										<h4>Data analysis</h4>
										<p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
							<div>
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="app/img/marketing-9.svg" alt="" data-uk-img>
							</div>
							<div data-uk-scrollspy-class="uk-animation-slide-right-medium">
								<h6 class="uk-text-primary">MAIN REASONS</h6>
								<h2 class="uk-margin-small-top">Take decisions with real time data based on users interaction.</h2>
								<p class="subtitle-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation.
								</p>
								<div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
									<div>
										<h4>Great stuff</h4>
										<p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
									</div>
									<div>
										<h4>Data analysis</h4>
										<p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				
				
			</div>
		</section>
		<section class="uk-section uk-section-secondary uk-section-large">
			<div class="uk-container">
				<div class="uk-grid uk-child-width-1-2@l uk-flex-middle">
					<div>
						<h6>SIMPLIFY THINGS</h6>
						<h2 class="uk-margin-small-top uk-h1">Manage all your data from one place only.</h2>
						<p class="subtitle-text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<a href="#" class="uk-button uk-button-primary uk-border-pill" data-uk-icon="arrow-right">LEARN MORE</a>
					</div>
					<div data-uk-scrollspy="cls: uk-animation-fade">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="app/img/marketing-2.svg" data-uk-img alt="Image">
					</div>
				</div>
			</div>
		</section>
		<section class="uk-cover-container overlay-wrap">
			<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://picsum.photos/640/650/?image=770 640w,
			https://picsum.photos/960/650/?image=770 960w,
			https://picsum.photos/1200/650/?image=770 1200w,
			https://picsum.photos/2000/650/?image=770 2000w"
			data-sizes="100vw"
			data-src="https://picsum.photos/1200/650/?image=770" alt="" data-uk-cover data-uk-img
			>
			<div class="uk-container uk-position-z-index uk-position-relative uk-section uk-section-xlarge uk-light">
				<div class="uk-grid uk-flex-right">
					
					<div class="uk-width-2-5@m" data-uk-parallax="y: 50,-50; easing: 0; media:@l">
						<h6>TESTIMONIALS</h6>
						<div class="uk-position-relative uk-visible-toggle uk-light" data-uk-slider="easing: cubic-bezier(.16,.75,.47,1)">
							<ul class="uk-slider-items uk-child-width-1-1">
								<li>
									<div data-uk-slider-parallax="opacity: 0.2,1,0.2">
										<h2 class="uk-margin-small-top">"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</h2>
										<p class="uk-text-meta">Lorena Smith, founder of Some Cool Startup</p>
									</div>
								</li>
								<li>
									<div data-uk-slider-parallax="opacity: 0.2,1,0.2">
										<h2 class="uk-margin-small-top">"Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</h2>
										<p class="uk-text-meta">Lorena Smith, founder of Some Cool Startup</p>
									</div>
								</li>
								<li>
									<div data-uk-slider-parallax="opacity: 0.2,1,0.2">
										<h2 class="uk-margin-small-top">"Irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</h2>
										<p class="uk-text-meta">Lorena Smith, founder of Some Cool Startup</p>
									</div>
								</li>
							</ul>
							<ul class="uk-slider-nav uk-dotnav uk-margin-top"><li></li></ul>
							
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- BOTTOM -->
		<section class="uk-section uk-section-default uk-section-default">
			
			<div class="agri-topo-header">
				<div class="uk-container uk-container-xsmall uk-text-center uk-section uk-padding-remove-top">
					<h2 class="uk-margin-remove uk-h1">Know the behavior of your potential customers.</h2>
				</div>
			</div>
			<div class="uk-container">

				<div class="uk-grid uk-grid-large uk-child-width-1-3@s uk-grid-match" data-uk-grid data-uk-scrollspy="target: > div; delay: 150; cls: uk-animation-slide-bottom-medium">
				    <div>
				        <div class="uk-card uk-card-hover uk-card-body">
				            <h3 class="uk-card-title">Hover</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				        </div>
				    </div>
				    <div>
				        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
				            <h3 class="uk-card-title">Default</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				        </div>
				    </div>
				    <div>
				        <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light">
				            <h3 class="uk-card-title">Primary</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				        </div>
				    </div>
				    <div>
				        <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
				            <h3 class="uk-card-title">Secondary</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				        </div>
				    </div>
				</div>
					
			</div>
		</section>
		<!-- BOTTOM -->
		<!-- LOGOS -->
		<div class="uk-section uk-section-small uk-section-muted">
			<div class="uk-container uk-container-small">
				<div class="uk-grid uk-child-width-1-4 uk-child-width-expand@m logos-grid" data-uk-grid data-uk-scrollspy="cls: uk-animation-scale-down; target: > div > img; delay: 100">
					<div>
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="app/img/logo-1.svg" data-uk-img alt="Image">
					</div>
					<div>
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="app/img/logo-2.svg" data-uk-img alt="Image">
					</div>
					<div>
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="app/img/logo-3.svg" data-uk-img alt="Image">
					</div>
					<div>
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="app/img/logo-4.svg" data-uk-img alt="Image">
					</div>
				</div>
			</div>
		</div>
		
	</div>

{% endblock %}


{# //////////////////////////////////////////////////////   END PAGE   /////////////////////////////////////////////////////////////////// #}

{# -- Any Page specific JavaScript that should be included before </body> -- #}
{% block bodyJs %}
{% endblock bodyJs %}